<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/stylefooter.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
    <footer class="foot-page">
        <div class="group-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/img/logoConNombreDownsized.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2 class="h2-foot">SOBRE NOSOTROS</h2>
                <p class="p-foot">Somos una tienda especializada en la venta de juegos de mesa, cartas y accesorios para los aventurereos más acérrimos.</p>
                <p class="p-foot">Hacemos envíos a todo el país por correo Andreani.</p>
                <p class="p-foot">Aceptamos métodos de pago de tarjetas de débito, crédito y Mercado Pago.</p>
            </div>
            <div class="box">
                <h2 class="h2-foot">SEGUÍNOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
            <!--<div class="box">
                <h2 class="h2-foot">CONTACTO</h2>
                <p class="p-foot">WhatsApp: +54-9-123456789</p>
                <p class="p-foot">Dirección: Av. Corrientes 3247, Abasto Shopping. Local 19</p>
            </div>-->
        </div>
        <div class="group-2">
            <small>&copy; 2022 <b>Grupo 5</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>
</html>