<nav class="main-navbar">
    <a href="/"><img src="/img/logoSinNombre.png" class="logo"></a>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    
    <ul class="left-navbar">
        <li class="category"><a href="#">Juegos de rol</a></li>
        <li class="category"><a href="#">Juegos de cartas</a></li>
        <li class="category"><a href="#">Miniaturas y accesorios</a></li>
    </ul>

    <input type="search" placeholder=" Buscar nuevas aventuras..." class="search-bar" >
    <i class="fas fa-search"></i>

    <ul class="right-navbar">
        <li class="category"><a href="/login"><button type="button"><i class="fas fa-user-circle"></i></button></a></li>
        <li class="category"><a href="/cart"><button><i class="fas fa-shopping-cart"></i></button></a></li>
    </ul>
    
    </nav>