<link href="/css/stylesheadernav.css" rel="stylesheet">

    <nav class="desktop-nav">
      <div class="container">

        <h1>LaGuaridaDelDragón</h1>

        <div class="menu">
          <a href="/users/login" class="is-active">Ingresar</a>
          <a href="/users/register">Registrarse</a>
          <a href="/products">Catálogo</a>
          <a href="#">Buscar</a>
          <a href="/">Home</a>
        </div>

        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>

      </div>

    </nav>

    <nav class="mobile-nav">
      <a href="/users/login">Ingresar</a>
      <a href="/users/register">Registrarse</a>
      <a href="/products">Catálogo</a>
      <a href="#">Buscar</a>
      <a href="/">Home</a>
    </nav>

    <script src="/js/main.js"></script>
    
