<div class="mainHeader">
<img src="/img/banner.jpg" class="banner">

<a href="/"><img src="/img/gotBanner.jpg" class="carrusell"></a>
</div>

<!-- acá hay que hacer un for que recorra los productos de a uno y muestre su correspondiente banner, linkeado a la página de ese producto en sí -->