<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agregar productos</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styleaddproduct.css" rel="stylesheet">
</head>

<body>
     <!-- Navbar -->
    <%- include('./partials/headerNavbar') %>
<section>
    <form action="/products/addproduct" method="POST" enctype="multipart/form-data">
        <div><h2>Formulario carga de producto</h2></div>
        <div class="form1">
            
            <div class="part1">
                <input id="title" name="title" type="text" placeholder="Nombre del producto">
                <input name="publisher" type="text" placeholder="Marca">
                <input name="shortDescription" type="text" placeholder="Descripción" class="description">
                <select id="category" name="category" placeholder="Categoria" class="selectCategorias">
                    <option disabled selected>Categoria</option>
                    <option value="rolBoardGame">Juegos de rol de mesa</option>
                    <option value="accesories">Miniaturas y accesorios</option>
                    <option value="cardGame">Juegos de cartas</option>
                    
                </select>
                <input name="price" type="number" placeholder="Precio">

            </div>
        
        
            <div class="part2">
                <input type="text">
                <input type="">
                <input type="">
                <div class="divAddImages">
                    <p class="textAddImages">Cargar imágenes</p>
                    <input name="img" type="file" multiple="multiple" class="addImages" accept= ".jpg, .jpeg">
                </div>
            </div>
        </div>
        <div class="buttons">
            <div><input type="reset" value="Borrar"></div>
            <div><input type="submit" name="submit" value="Agregar"></div>
        </div>
    </form>
</section>
    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>