<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylescarrito.css">
    <title>Carrito</title>
</head>
<body>
    <nav class="main-navbar">
        <a href="/"><img src="/img/logoSinNombre.png" class="logo"></a>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <ul class="left-navbar">
            <li class="category"><a href="#">Juegos de rol</a></li>
            <li class="category"><a href="#">Juegos de cartas</a></li>
            <li class="category"><a href="#">Miniaturas y accesorios</a></li>
        </ul>

        <input type="text" placeholder=" Buscar nuevas aventuras..." class="search-bar" >
        <i class="fas fa-search"></i>

        <ul class="right-navbar">
            <li class="category"><a href="#"></a><i class="fas fa-user-circle"></i></li>
            <li class="category"><a href="#"></a><i class="fas fa-shopping-cart"></i></li>
        </ul>
        
        </nav>
    <section  class="ar">
        <article>
            <article class= "title">
                <h2>
                    Mi Carrito</i>
                </h2>
            </article>
        </article>
        <article class="art1">
            <article class="art">
                <div class="article-category">
                    <span class="column1">Producto</span>
                    <span class="column2">Precio</span>
                    <span class="column3">Cantidad</span>
                    <span class="column4">Total</span>
                </div>
                <div class="añadidos">
                <ul>
                    <li class="item">
                        <div class= "infoitem">
                            <div class="caja-imagen">
                                <div class="imagen">
                                    <img src="/img/juegoTheWalkingDead.jpg" alt="juegoTheWalkingDead" class="imagen">
                                </div>
                            </div>
                            <span class="items">
                                <span class="itemproducto">
                                    <span class="producto">
                                        <a href="" class="nombreproducto">The Walking Dead</a>
                                    </span>
                                        <span class="valores">
                                            <span class="precio">$7.500</span>
                                            <span class="precioanterior">$8.000</span>
                                        </span>
                                    <span class="itemcantidad">
                                        <span class="selectorcantidad">
                                            <button class="boton">
                                                - 
                                            </button>
                                            <span>1</span>
                                            <button class="boton">
                                                +
                                            </button>
                                        </span>
                                    </span>
                                    <span>$7.500</span>
                                    <button>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </span>
                            </span>
                        </div>
                       
                    </li>
                    <li class="item">
                        <div class= "infoitem">
                            <div class="caja-imagen">
                                <div class="imagen">
                                    <img src="/img/juegoAlien.jpg" alt="juegoAlien" class="imagen">
                                </div>
                            </div>
                            <span class="items">
                                <span class="itemproducto">
                                    <span class="producto">
                                        <a href="" class="nombreproducto">Alien: El juego oficial</a>
                                    </span>
                                        <span class="valores">
                                            <span class="precio">$5.550</span>
                                            <span class="precioanterior">$6.000</span>
                                        </span>
                                    <span class="itemcantidad">
                                        <span class="selectorcantidad">
                                            <button class="boton">
                                                - 
                                            </button>
                                            <span>1</span>
                                            <button class="boton">
                                                +
                                            </button>
                                        </span>
                                    </span>
                                    <span>$5.500</span>
                                    <button>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </span>
                            </span>
                        </div>
                       
                    </li>
                </ul>
                 
                </div>
            </article>
            <article class="article-box">
                <div class="caja">
                    <div class="caja-sumario">
                        <div class="caja-totales">
                            <ul class="caja-body">
                                <li class="caja-sumario-linea">
                                    <span class="subtotal">Subtotal  </span>
                                    <span class="valor subt">$13.050</span>
                                </li>
                                <li class="caja-sumario-linea">
                                    <span class="subtotal">Impuestos</span>
                                    <span class="valor">+ $624</span>
                                </li>
                                <li class="caja-sumario-linea">
                                    <span class="Descuento">Descuento</span>
                                    <span class="valor">   $$</span>
                                </li>
                            </ul>
                            <div class="area-cupon">
                                <div class="centro-cupon">
                                    <div class="cupon-desc">
                                        <span><input type="text" placeholder=" Cupón de descuento" class="barra-descuento"></span>
                                        <span><button class="añadir">Añadir</button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout">
                             <div class="total-total">
                                <span>Grand Total</span>
                                <span class="valor final">$13674</span>
                            </div>
                            <div class="caja-checkout">
                                <div>
                                    <button class="finaliza-boton">
                                        <a href="">Finalizar Compra</a>
                                    </button>
                                </div>
                            </div>
                            </div>
                        
                    </div>
                </div>
            </article>
        </article>
        <article class="continuar-compra">
            <button class="continuar-compra-boton">
                <a href="/" class="continuar-compra-letra"><i class="fas fa-angle-double-left"></i> Continuar comprando</a>
            </button>
        </article>


    </section>
    <footer>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1380.7600525298817!2d-58.41159173584137!3d-34.60367202417548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8c854bd13f%3A0xfc0cf5c054da4aa1!2sAbasto%20Shopping!5e0!3m2!1ses-419!2sar!4v1636505829710!5m2!1ses-419!2sar" width="340" height="340" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="footer-left">
            <h6>Contacto</h6>
            <ul class="ft-contact"></ul>
            <li><a class="facebook"><i class="fab fa-facebook"></i></a><p class="footer-text">+54012345678</p></li>
            <li><a class="twitter"><i class="fab fa-twitter-square"></i></a><p class="footer-text">@LaGuaridaDelDragon</p></li>
            <li><a class="instagram"><i class="fab fa-instagram-square"></i></a><p class="footer-text">@LaGuaridaDelDragon</p></li>
        </ul>
        </div>

        <div class="footer-right">
            <p>Copyright 2021. Todos los derechos reservados.</p>
            <p>Powered by Grupo5 DH</p>
            <a href="/"><img src="/img/logoConNombre.png" class="logo2"></a>
        </div>

    </footer>




</body>
</html>