<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida del Dragón</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
     <!-- Navbar -->
    <%- include('./partials/headerNavbar') %>

    <header>

    </header>
    
    <section class="novelties">
        <h3>Novedades</h3>
    <div class="main-container">
    <article class="display-product">
        <h4>Alien: El juego oficial<i class="fab fa-hotjar"></i></h4>
        <img src="/img/juegoAlien.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$5.550</p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </div>
    </article>

    <article class="display-product">
        <h4>The Walking Dead <i class="fab fa-hotjar"></i></h4>
        <img src="/img/juegoTheWalkingDead.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$7.500</p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    <article class="display-product">
        <h4>Monopoly: Game of Thrones <i class="fab fa-hotjar"></i></h4>
        <img src="/img/juegoMonoGOT.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$8.999</p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    <article class="display-product">
        <h4>Game of Thrones <i class="fab fa-hotjar"></i></h4>
        <img src="/img/juegoGOT.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$12.000</p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    </section>


    <section class="offers">
        <h3>Ofertas de la semana</h3>
    <div class="main-container">
    <article class="display-product">
        <h4>Alien: El juego oficial</i></h4>
        <img src="/img/juegoAlien.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$5.550</p>
        <p class="discount">-20% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </div>
    </article>

    <article class="display-product">
        <h4>The Walking Dead</h4>
        <img src="/img/juegoTheWalkingDead.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$7.500</p>
        <p class="discount">-10% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    <article class="display-product">
        <h4>Monopoly: Game of Thrones</i></h4>
        <img src="/img/juegoMonoGOT.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$8.999</p>
        <p class="discount">-5% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    <article class="display-product">
        <h4>Game of Thrones</i></h4>
        <img src="/img/juegoGOT.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$12.000</p>
        <p class="discount">-5% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    </section>

    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>