<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Document</title>
</head>
<body>
      <!-- Navbar -->
      <%- include('./partials/headerNavbar') %>
  <form action="/login" method="get">
      <h2>Formulario de Login</h2>
      <input type="text" placeholder="&#128100; Usuario" name="user" required>
      <input type="password" placeholder="&#128273; Contrase単a" name='password' required>
      <input type="submit" value="Ingresar">
      <label for="remember"id="remember-label"><input id="rec" type="checkbox" name="rec" value="rec"> Recordar usuario y contrase単a</label> 
      <p>No tienes una cuenta?, <a class= "link" href="register"> Registrate</a></p>
      <p>Olvidaste la contrase単a?, <a class="link" href="recoverpassword.html"> Olvide mi contrase単a</a></p>
  </form>
    <!-- Footer -->
    <%- include('./partials/footer') %>

 </body>
  
</html>