<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Document</title>
</head>
<body>
      <!-- Navbar -->
      <%- include('./partials/headerNavbar') %>
  <form action="/users/login" method="POST">
      <h2>Formulario de Login</h2>
      <input class="inp" type="email" placeholder="&#9993; E-mail" name="eMail" >
      <% if (locals.errors && errors.eMail) { %>
        <%= errors.eMail.msg %>
      <%} %>
      <input class="inp" type="password" placeholder="&#128273; Contrase単a" name='password' >
      <% if (locals.errors && errors.password) { %>
        <%= errors.password.msg %>
      <%} %>
      <input class="inp" type="submit" id="submit" value="Ingresar">
      <label for="remember"id="remember-label"><input class="inp" type="checkbox" name="remember_user"> Recordar usuario y contrase単a</label> 
      <p>No tienes una cuenta?, <a class= "link" href="register"> Registrate</a></p>
      <p>Olvidaste la contrase単a?, <a class="link" href="recoverpassword.html"> Olvide mi contrase単a</a></p>
  </form>
    <!-- Footer -->
    <%- include('./partials/footer') %>

 </body>
  
</html>