<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida del Dragón</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styleproduct.css" rel="stylesheet">
</head>

<body>
     
       <!-- Navbar -->
       <%- include('./partials/headerNavbar') %>

    <header>
        <h3>Alien RPG Starter Set</h3>
    </header>

    <section class="main-product">
    <div class="main-container">
        <article class="display-product">
                <img src="/img/juegoAlien.jpg" alt="">

                <div class="main-article">
                <hr>    
                <h4 class="product-name"> Alien RPG Starter Set </h4>
                <p class="product-price">$6.770</p>
                <hr>

                <div class="quantity-and-cart-block">
                <div class="product-quantity-class">
                <label for="product-quantity">Elige la cantidad:</label>
                <input list="product-quantity1" placeholder="0" id="product-quantity">
                <datalist id="product-quantity1">
                        <option value="0">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                </datalist>
                <input class="add-to-cart-buttom" type="submit" value="Agregar al Carrito">
                </div>
                </div>
                


                </div>

               
        </article>
        </div>
    </section>
    <section class="">
                <div class="description">
                 <h1>Descripcion</h1>
                 <br></br>
                 <h2>Este es un set de iniciación para el juego de rol oficial de la mesa Alien, un universo de terror corporal y brinkmanship corporativo, donde las personas sintéticas juegan a Dios mientras los camiones y los marinos espaciales juegan anfitrión de criaturas fantasmas recién nacidas. Se trata de un universo duro e implacable y no eres nada si no es gastable.Mantente vivo si puedes.</h2>
                 <br></br>
                 <ol>
                    <p>Nombre: Alien RPG Starter Set</p>
                    <p>Fabricante: Free League Publishing</p>
                    <p>Edad: +14</p>
                    <p>Jugadores: 3-4</p>
                    <p>Tiempo de Juego: 60'</p>
                    <p>Dimensiones: 8.5 x 11 x 0.5'</p>
                    <p>Material: Sintético</p>
                    </ol>
                 </div>
    </section>
   

    <section class="offers">
        <h3>Productos Relacionados</h3>
    <div class="main-container">
    <article class="display-product">
        <h4>Alien: El juego oficial</i></h4>
        <img src="/img/juegoAlien.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$5.550</p>
        <p class="discount">-20% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </div>
    </article>

    <article class="display-product">
        <h4>The Walking Dead</h4>
        <img src="/img/juegoTheWalkingDead.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$7.500</p>
        <p class="discount">-10% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    <article class="display-product">
        <h4>Monopoly: Game of Thrones</i></h4>
        <img src="/img/juegoMonoGOT.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$8.999</p>
        <p class="discount">-5% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    <article class="display-product">
        <h4>Game of Thrones</i></h4>
        <img src="/img/juegoGOT.jpg">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$12.000</p>
        <p class="discount">-5% <i class="fas fa-tag"></i></p>
        <p class="description"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem possimus aut natus, vitae at quia quaerat nam quo error, atque aliquid, velit molestias. Officia harum voluptates quam quis doloremque!</p>
    </article> 

    </section>

    <!-- Footer -->
    <%- include('./partials/footer') %>


</body>
</html>