<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <!-- Navbar -->
     
<img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style= 'border-radius: 180%' alt="avatar">    
<h2>Bienvenido <%= locals.userLogged.userAlias %></h2>

<form action="/users/profileToEdit" method="get">
   
        
    <button class="logout" href="/users/profileToEdit">Editar información</button>    
</form>

<form action="/users/logout" method="get">

<button class="logout" href="/users/logout">Cerrar sesión</button>

</form>

<form action="/" method="get">

<button class="logout" href="/">HOME</button>

</form>
    

    <!-- Footer -->
    
</body>
</html>