* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: rgb(248, 237, 220);
    font-family: sans-serif;
}

/* HEADER */

.mainHeader {
    display: flex;
    margin-top: 100px;
}

.banner {
    width: 100%;
    z-index: 1;
    position: absolute;
}

.carrusell {
    width: 85vw;
    display: none;
    z-index: 80;
    margin: auto;
    position: relative;
    top: 8vw;
    left: 1vw;
}

/* SECTION */


.novelties {
    margin-top: 58%;
}

h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: rgba(161, 161, 161, 0.5);
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.novelties article {
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.offers article {
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.main img {
    width: 100vw;
}

h4 {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;    
    Align-items: center;                  
}

.display-product {
    background-color: lightgrey;
    padding: 5px;
    border: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.display-product img {
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display-description {
    background-color: white;
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.fa-hand-point-right {
    color: limegreen;
    
    font-size: 20px;
    font-weight: bold;
    width: 5%;
    padding: 10px;
    transition: all 0.5s;
}

.fa-hand-point-right:hover {
    transform: translate(5px, 0%);
}

.price {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px 0;
    width: 30%;
    padding: 10px;
}

p {
    font-size: 1.2em;
}

.discount {
    background-color: white;
    font-size: 16px;
    width: 5%;
    font-weight: bold;
    padding: 10px;
}

.description {
    display: none;
}

.fa-tag {
    color: limegreen;
    border: black 5px;
}

.fa-hotjar {
    color: red;
    background-color: rgb(255, 230, 89);
    border-radius: 25px;
    padding: 5px;
    height: 30px;
    width: 30px;
    animation: aumentar 1s linear infinite alternate;
    border-left: 20px;
    margin-left: 10px;
}

.display-titulo-product{
    display: flex;
    border: solid, 1px, black;
}

@keyframes aumentar {
    0% { transform: scale(1) }
    100% { transform: scale(1.1) }
}

/* MEDIA QUERIES */

@media(min-width: 768px) {
   
    .description {
        display: flex;
    }
    .novelties {
        margin-top: 15.5%;
    }
    .carrusell {
        width: 80%;
        display: block;
    }
}


@media(min-width: 1024px) {
    .novelties {
        margin-top: 16%;
    }
    .carrusell {
        width: 80vw;
        top: 7vw;
        left: 10vw;
    }
}

@media(min-width: 1440px) {
    .banner {
        top: 0;
    }
    .carrusell {
        width: 60vw;
        top: 10.5vw;
        left: 18vw;
    }
}

