* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

.main-container-fav-articles {
    max-width: 98vw;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    border-top-style: outset;
}

.main-product-detail-fav {
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
}

.image-product-fav {
    width: 30vw;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.product-name-fav {
    margin-bottom: 12px;
    margin-top: 5px;
    /*height: 20%;*/
    /*background-color: rgb(167, 37, 37);*/
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: 80vw;
}

.details-fav-container {
    width: 18vw;
}

.price-detail-fav {
    margin-top: 15px;
    margin-bottom: 2.5px;
    margin-left: 9px;
    font-weight: 900;
    font-size: 15px;
    width: 15vw;
}

.quantity-and-fav-block {
    margin-bottom: 8px;
}

.product-quantity-fav {
    border-radius: 5px;
    font-size: 12px;
    padding: 5%;
    margin-left: 6px;
}

.button-container-fav {
    display: flex;
}

.clear-button-fav {
    text-align: center;
    margin-bottom: 8px;
    display: block;
    padding: 8px 10px;
    background-color: rgb(196, 196, 196);
    max-width: 300px;
    height: 50px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.clear-button-fav:hover {
    background-color: rgb(255, 93, 64);
}

.fav-total {
    display: flex;
    padding: 5%;
    font-weight: 600;
    border-top-style: outset;
    font-size: 18px;
}

.remove-fav-button {
    height: 25px;
    width: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    font-weight: 550;
    margin-left: 20px;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.render-if-its-empty {
    align-self: center;
    padding-top: 30%;
    padding-bottom: 20%;
    color: #3b3b3b;
    text-align: center;
    font-size: 20px;
}

.checkout-button-cart {
    text-align: center;
    margin-bottom: 12px;
    display: block;
    padding: 8px 10px;
    background-color: #6ca2f3;
    max-width: 300px;
    height: 50px;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: url('../img/iconoCursorPointerZombie.png'), auto;
}

.checkout-button-cart:hover {
    background-color: #0066ff;
}

/* MEDIA QUERIES */

@media(min-width: 768px) {
    .main-container-detail {
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .product-name-fav {
        font-size: 15px;
        width: 40vw;
    }
    .image-product-fav {
        max-width: 200px;
    }
    .main-product-detail-fav {
        margin-top: 80px;
        justify-content: space-between;
    }
    .details-fav-container {
        width: 12vw;
    }
}

@media(min-width: 1024px) {
    .main-container-detail {
        flex-direction: row;
        margin-top: 10%;
        margin-bottom: 7%;
    }
    .main-product-detail-fav {
        margin-top: 25px;
        justify-content: space-between;
    }
    .product-quantity-fav {
        margin-left: -2.5px;
    }
    .main-container-dav-articles {
        margin-top: 2.5%;
        margin-bottom: 2%;
    }
    .remove-fav-button {
        margin-left: 15px;
    }
    .price-detail-fav {
        margin-left: 2.5px;
    }
    
}

@media(min-width: 1440px) {
    .main-container-detail {
        width: 90vw;
        margin-top: 1.5%;
        margin-bottom: 1%;
    }
    .main-product-detail {
        width: 28vw;
    }
    .main-container-fav-articles {
        margin-top: 1.5%;
        margin-bottom: 1%;
    }
    .product-quantity-fav {
        margin-left: -10px;
        font-size: 14px;
    }
    .price-detail-fav {
        margin-left: -2.5px;
        font-size: 18px;
        width: 15vw;
    }
    .remove-fav-button {
        margin-left: 12.5px;
    }
}