

/* MEDIA QUERIES */


@media(min-width: 376px) {

}

@media(min-width: 768px) {
    .form {
        width: 75%;
    }
    .description {
        display: flex;
    }
    .novelties {
        margin-top: 15.5%;
    }
    .carrusell {
        width: 80%;
        display: block;
    }
}


@media(min-width: 1024px) {
    .novelties {
        margin-top: 16%;
    }
    .carrusell {
        width: 80vw;
        top: 7vw;
        left: 10vw;
    }
}

@media(min-width: 1440px) {
    .banner {
        top: 0;
    }
    .carrusell {
        width: 60vw;
        top: 10.5vw;
        left: 18vw;
    }
}
.errores {
    text-align: center;
    color: red;
  } 