* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: #F9F6E5;
    font-family: sans-serif;
}
header{
    width: 100vw;
    padding-top: 90px;
}

/* SECTION */


.novelties {
    margin-top: 92px;
}

h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #39373B;
    color:#f9f6e5;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.main-article{
    background-color: white;
    padding-top: 10px;
}

.novelties article {
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.offers article {
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.main img {
    width: 100vw;
}

h4 {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.display-product {
    background-color: lightgrey;
    padding: 5px;
    border: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.display-product img {
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.display-description {
    background-color: white;
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.fa-hand-point-right {
    color: limegreen;
    
    font-size: 20px;
    font-weight: bold;
    width: 5%;
    padding: 10px;
    transition: all 0.5s;
}

.fa-hand-point-right:hover {
    transform: translate(5px, 0%);
}

.price {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 12px 0;
    width: 30%;
    padding: 10px;
}

p {
    font-size: 1.2em;
}

.discount {
    background-color: white;
    font-size: 16px;
    width: 5%;
    font-weight: bold;
    padding: 10px;
}

.description {
    display: none;
}

.fa-tag {
    color: limegreen;
    border: black 5px;
}

.fa-hotjar {
    color: red;
    background-color: rgb(255, 230, 89);
    padding: 10px;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    animation: aumentar 1s linear infinite alternate;
}

@keyframes aumentar {
    0% { transform: scale(1) }
    100% { transform: scale(1.1) }
}


/* FOOTER */

footer {
    background-color: rgb(167, 37, 37);
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: space-around;
    color: white;
    padding: 20px;
    list-style: none;
    margin-top: 15px;
}

.ft-contact {
    color: white;
    font-size: 18px;
}

.fa-facebook {
    font-size: 25px;
}

.fa-twitter-square {
    font-size: 25px;
}

.fa-instagram-square {
    font-size: 25px;
}

h6 {
    font-size: 20px;
    font-weight: normal;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    margin-top: 20px;
    padding: 5px;
}

.logo2 {
    width: 30vw;
    height: 45vw;
    padding: 5px;
}


/* MEDIA QUERIES */


@media(min-width: 376px) {

}

@media(min-width: 768px) {
    .main-navbar {
        height: 15vw;
    }
    .logo {
        width: 13vw;
        height: 16vw;
        padding: 5px;
    }
    .left-navbar {
        display: flex;
    }
    .right-navbar {
        display: flex;
    }
    .burger-menu {
        display: none;
    }
    .fa-user-circle {
        display: flex;
        border-radius: 50px;
    }
    .fa-shopping-cart {
        display: flex;
        border-radius: 50px;
    }
    .search-bar {
        display: flex;
    }
    .fa-search {
        display: flex;
        border-radius: 50px;
    }
    .description {
        display: flex;
    }
    .footer-right {
        display: flex;
        margin-top: 20px;
        padding: 5px;
        flex-direction: column;
    }
    .logo2 {
        max-width: 20vw;
        max-height: 30vw;
        padding: 5px;
    }
    .novelties {
        margin-top: 110px;
    }
}




@media(min-width: 1200px) {
    .main-navbar {
        height: 10vw;
    }

    .logo {
       width: 10vw;
       height: 12vw;
       padding: 5px;
        /*display: none;*/
    }

    /*.logo2 {
        display: block;
    }*/

    .search-bar {
        border-radius: 10px;
        font-size: 20px;
    }

    .fa-user-circle {
        font-size: 40px;
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 50px;
    }

    .fa-shopping-cart {
        font-size: 35px;
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 50px;
    }

    .fa-search {
        font-size: 40px;
        width: 5.5vw;
        height: 5.5vw;
        border-radius: 50px;
    }

    .left-navbar {
        height: 80px;
        border-radius: 10px;
    }
    .novelties {
        margin-top: 140px;
    }
}




/* CSS LUCIO*/
 
 .main-product {
    padding-top: 10px;
    display: flex;
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

 .add-to-cart-buttom {
     background-color: lightgreen;
     width: 62%;
     height: 30px;
     font-size: 18px; 
     text-align: center;
     margin-top: 10px;
}

.product-quantity {
    background-color: #fff;
}

.product-quenatity-class{
    display: flex;
    Align-items: center; 
    justify-content:space-around;        
    width: 100vw;
}
.product-quantity-class label{
    font-size: 16px;
}
#product-quantity{
    width: 60px;
    text-align: center;
}
.quantity-and-cart-block{
    display: flex; 
    Align-items: center; 
    justify-content:center;  
    padding: 10px;  
    background-color: white;         
}

.product-price{
    color: green;
    font-weight: bolder;
    padding-bottom:10px;
}

.product-name{
    color: #d24c2b;
    font-weight: bolder;
    font-size: 20px;
}

.name-and-price-block{
    display: flex;
    flex-direction: column;
    width: 90vw; 
    Align-items: center; 
    justify-content:center;  
    padding: 10px;  
    background-color: white;         
}

.description {             
   margin: 10px auto;
   display: flex;
   flex-direction: column;  
   width: 90%;
   text-align: left;
   padding-top: 20px;
   padding-bottom: 20px;
   color: #d24c2b;
}
.description h1{
    font-size: 16px;
    opacity: 0.5;
}
.description ol p{
    font-size: 14px;
}
.description h2{
    font-size: 14px;
    font-weight: normal;
}
