* {
    cursor: url('../img/iconoCursor2.png'), auto;
}

body {
    background-color: rgb(248, 237, 220);
    font-family: sans-serif;
}

body {
    background: #DEDEDE;
    display: flex;
    min-height: 100vh;
}

form{
    margin: auto;
    margin-top: 17%;
    width: 50%;
    max-width: 500px;
    background-color: #f3f3f3;
    padding: 30px;
    border: 1px solid rgba (0,0,0,0.2);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba (0,0,0,0.5);
}
input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px -8px;
    font-size: 20px;
}
input[type="submit"]{
    background-color: red ;
    width: 105%;
    border: 0;
    color: whitesmoke;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
input[type='submit'] :hover {
opacity: 1;
}
input[type='submit'] :active {
    transform: scale(0.95);
}
p {
    margin-top: 15px;
    display: flex;
 
}
#remember-label{
    display: inline;
}
footer {
    background-color: rgb(167, 37, 37);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: space-around;
    color: white;
    padding: 20px;
    list-style: none;
    margin-top: 65%;
    position: absolute;
    width: 100%;
    
}

.ft-contact {
    color: white;
    font-size: 18px;
}

.fa-facebook {
    font-size: 25px;
}

.fa-twitter-square {
    font-size: 25px;
}

.fa-instagram-square {
    font-size: 25px;
}

h6 {
    font-size: 20px;
    font-weight: normal;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    margin-top: 20px;
    padding: 5px;
}

.logo2 {
    width: 30vw;
    height: 45vw;
    padding: 5px;
}
@media (max-width:768px){
    form {
        width: 75%;
    }
}
@media (max-width:480px){
    form {
        width: 95%;
    }
}
@media(min-width: 768px) {
    .main-navbar {
        height: 15vw;
    }
    .logo {
        width: 13vw;
        height: 16vw;
        padding: 5px;
    }
    .left-navbar {
        display: flex;
    }
    .right-navbar {
        display: flex;
    }
    .burger-menu {
        display: none;
    }
    .fa-user-circle {
        display: flex;
        border-radius: 50px;
    }
    .fa-shopping-cart {
        display: flex;
        border-radius: 50px;
    }
    .search-bar {
        display: flex;
    }
    .fa-search {
        display: flex;
        border-radius: 50px;
    }
    .description {
        display: flex;
    }
    .footer-right {
        display: flex;
        margin-top: 20px;
        padding: 5px;
        flex-direction: column;
    }
    .logo2 {
        max-width: 20vw;
        max-height: 30vw;
        padding: 5px;
    }
    .novelties {
        margin-top: 110px;
    }
}